body{
    zoom: 100%;
    transform: scale(1);
    background-color: #0A0908;
    color: #E4DFD3;
    margin: 0%;
    text-align: center;
}
.barra{
    background-color: #171513;
    margin: 0%;
    padding: 10px;
    min-width: 95vw;
    height: 40px;
}
.img-principal{
    justify-content: center;
    min-width: 1210px;
    height: 570px;
    margin:0% 30px 20px 40px;

}
.demonstrativo{
    background-color: rgb(145, 113, 175);
    width: 100px;
    height: 200px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin: 50px 50vw 50px 50vw;
}
.bt,.bt-home,.bt-script,.bt-jogo,.bt-configuracao{
    margin-top: 15px;
    border: none;
}
.bt-home{
    background-color: #171513;
    color: #E4DFD3;
    margin-left: 50px;
}
.bt-script{
    background-color: #171513;
    color: #E4DFD3;
}
.bt-jogo{
    background-color: #171513;
    color: #E4DFD3;
}
.bt-configuracao{
    background-color: #171513;
    color: #E4DFD3;
    margin-left: 700px;
}
.pg-final{
    background-color: #0A0908;
    color: rgb(231, 242, 248);
    min-width: 95vw;
    height: 200px;
}
.carosel{
    margin: 100px auto;
    width: 90%;
    display: flex;
    overflow-x: auto;
}
.carosel::-webkit-scrollbar{
    display: none;
}
.grupo{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3em;
    animation: spin 45s infinite linear;
    padding-right: 3em;
}
.card{
    flex: 0 0 5em;
    height: 2em;
    padding: 1em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px;
    font-size: 3rem;
    text-align: center;
    align-content: center;
    overflow: hidden;
    transition: all 0.5s ease;
}
.card:hover{
    transform: translateY( -5px);
}
@keyframes spin{
    from {translate: 0;}
    to {translate: -100%;}
}
img{
    width: 300px;
    height: 200px;
    padding: 100px 30px 20px 30px;
    
}

.barra-1{
     box-shadow: 2.5px 1px 40px -4.5px #ced662;
    background-color: rgba(187, 183, 128, 0.514);
    color: rgba(163, 156, 103, 0.863);
    min-width: 98vw;
    


}

.barra-2{
     box-shadow: 2.5px 1px 40px -4.5px #ced662;
    background-color: rgba(187, 183, 128, 0.514);
    color: rgba(163, 156, 103, 0.863);
    min-width: 98vw;
}

.barra-3{
    box-shadow: 2.5px 1px 40px -4.5px #ced662;
    background-color: rgba(187, 183, 128, 0.514);
    color: rgba(163, 156, 103, 0.863);
    min-width: 98vw;
}

    .imagem-borda{
    border: 2px solid rgb(187, 183, 128, 0.514);
    width: 350px;
    height: 180;
    margin: 76px 0px 30px 0px;
    padding:0px;
    }