body{
    zoom: 100%;
    transform: scale(1);
    background-color: #0A0908;
    color: #E4DFD3;
    margin: 0%;
    text-align: center;
}
.barra{
    background-color: #171513;
    margin: 0%;
    padding: 10px;
    min-width: 95vw;
    height: 40px;
}
.img-principal{
    justify-content: center;
    min-width: 1210px;
    height: 570px;
    margin:0% 30px 20px 40px;

}
.demonstrativo{
    background-color: rgb(145, 113, 175);
    width: 100px;
    height: 200px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    margin: 50px 50vw 50px 50vw;
}
.bt-home{
    margin-top: 15px;
    border: none;
}
.bt-home{
    background-color: #171513;
    color: #E4DFD3;
    margin-left: 50px;
}
.bt-funcao{
    display: flex;
    gap: 1em;
    justify-content: center;
    padding: 40px;
    background-color: #171513;
    min-width: 30%;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 40px;
    border-radius: 10px;
}
.cadastrar{
    width: 170px;
    height: 50px;
    background-color: #201e1b;
    border: none;
    border-radius: 5px;
    box-shadow: -3.5px 3px 7px rgb(0, 0, 0.1);
    color: azure;
    font-size: 15px;
    transition: all 0.5s ease;
}
.cadastrar:hover{
    background-color: rgb(218, 179, 108);
    color: #0A0908;
    transform: translateY( -5px);
    box-shadow: -3.5px 3px 7px rgb(196, 193, 168);
}
.cadastrar-1{
    background-color: #201e1b;
    width: 300px;
    height: 350px;
    border-radius: 13px;
    padding: 10px;
}
.cadastrar ,p{
    margin-top: 15%;
}
.listar{
    width: 170px;
    height: 50px;
    background-color: #201e1b;
    border: none;
    border-radius: 5px;
    box-shadow: -3.5px 3px 7px rgb(0, 0, 0.1);
    color: azure;
    transition: all 0.5s ease;
    font-size: 15px;
}
.listar:hover{
    background-color: rgb(218, 179, 108);
    color: #0A0908;
    transform: translateY( -5px);
    box-shadow: -3.5px 3px 7px rgb(196, 193, 168);
}
.listar-2{
    background-color: #201e1b;
    width: 300px;
    height: 350px;
    border-radius: 13px;
    padding: 10px;
}
.listar ,p{
    margin-top: 39%;
}
.removerUltimo{
    width: 170px;
    height: 50px;
    background-color: #201e1b;
    border: none;
    border-radius: 5px;
    box-shadow: -3.5px 3px 7px rgb(0, 0, 0.1);
    color: azure;
    transition: all 0.5s ease;
    font-size: 15px;
}
.removerUltimo:hover{
    background-color: rgb(218, 179, 108);
    color: #0A0908;
    transform: translateY( -5px);
    box-shadow: -3.5px 3px 7px rgb(196, 193, 168);
}
.removerUltimo-3{
     background-color: #201e1b;
    width: 300px;
    height: 350px;
    border-radius: 13px;
    padding: 10px;
}
.removerUltimo ,p{
    margin-top: 24%;
}
.deletar{
    width: 170px;
    height: 50px;
    background-color: #201e1b;
    border: none;
    border-radius: 5px;
    box-shadow: -3.5px 3px 7px rgb(0, 0, 0.1);
    color: azure;
    transition: all 0.5s ease;
    font-size: 15px;
}
.deletar:hover{
    background-color: rgb(218, 179, 108);
    color: #0A0908;
    transform: translateY( -5px);
    box-shadow: -3.5px 3px 7px rgb(196, 193, 168);
}
.deletar-aa{
    background-color: #201e1b;
    width: 300px;
    height: 350px;
    border-radius: 13px;
    padding: 10px;
}
.deletar ,p{
    margin-top: 40px;
}
.card-boss{
    background: white;
    padding: 1em;
    border-radius: .5em;
    box-shadow: 0 2px 5px rgb(0, 0, 0,0.2);
    min-width: 200px;
}